div{
    border: 2px solid #0f8fb7;
    padding: 15px;
    margin: 10px 40px 5px;
    background-color: rgba(204, 110, 222, 0.5);
    border-radius: 10px;
    box-shadow: 4px 10px darkslateblue;
}
#logo{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}
.cv{
    text-align: center;
    background: linear-gradient(to right, #5d539a, #cb4997);
}
h1,h2,h3,h4{
    font-family: "Nunito", sans-serif;
    text-shadow: 4px 10px #58e7e7;
}